join html 입니다

<form action="/user/join_success" id="login_frm" method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>아이디</td> <!-- 중복 체크 Ajax-->
            <td><input type="text" id="userid" name="userid">
                <p id="userid_msg"></p>
            </td>
        </tr>
        <tr>
            <td>패스워드</td> <!-- 패스워드 확인 두번하기-->
            <td><input type="password" id="userpw" name="userpw"></td>
        </tr>
        <tr>
            <td>패스워드 확인</td>
            <td><input type="password" id="userpw_check" name="userpw_check"></td>
        </tr>
        <tr>
            <td>이름</td>
            <!--글자 길이-->
            <td><input type="text" name="username" maxlength="20"></td>
        </tr>
        <tr>
            <td>성별</td>
            <td>
                <input type="radio" id="gender" name="gender" value="0" checked>남자
                <input type="radio" id="gender" name="gender" value="1">여자
            </td>
        </tr>
        <tr>
            <td>이미지</td>
            <td><input type="file" name="img"></td>
        </tr>
    </table>

    <input type="button" id="login_submit" value="회원가입">
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="text/javascript">
    const pwd1 = document.querySelector('#userpw');
    const pwd2 = document.querySelector('#userpw_check');
    const btn = document.querySelector('#login_submit');
    const login_frm = document.querySelector('#login_frm');
    const userid_msg = document.querySelector('#userid_msg');
    const userid = document.querySelector('#userid');

    function password_check() {
        console.log(pwd1.value, pwd2.value);
        return pwd1.value == pwd2.value;    // ture or false
    }
   
    async function userid_check() {
        let data = await axios.get(`http://localhost:3000/user/userid_check?userid=${userid.value}`);
        //AJAX id 값 가져와서 중복 아니면 true, 중복이면 false
        
        console.log(data);
        
        login_flag = data.data.login;
        if(login_flag){
            userid_msg.innerHTML = '사용 가능한 아이디 입니다.';
            userid_msg.style.color = 'green';
        }else{
            userid_msg.innerHTML = '중복된 아이디 입니다.';
            userid_msg.style.color = 'red';
        }
    }

    userid.addEventListener('focusout',userid_check);   // 커서가 밖으로 갔을 때 저 함수를 실행시켜라

    btn.addEventListener('click', () => {
        pwd_check = password_check();   // boolean값
        if (pwd_check) {
            login_frm.submit(); // 조건이 맞는 경우에만 submit
        } else {
            alert('패스워드가 서로 다릅니다.');
            pwd1.value = '';    // 패스워드 불일치한 경우 - 입력창을 비워준다.
            pwd2.value = '';
            pwd1.focus();       // 여기로 커서가 이동해라
        }
    })
</script>